{% extends 'base.html' %}
{% load static %}

{% block title %}User Profile{% endblock %}

{% block content %}
<div class="flex flex-col gap-5 items-center min-h-screen">

    <div class="flex gap-3">
        <!-- profile update -->
        <a href="{% url 'profile_update' %}"
            class="bg-yellow-800 hover:bg-yellow-900 text-white font-bold py-2 px-4 mt-5 rounded focus:outline-none focus:shadow-outline">Update
            Profile</a>

        <!-- deposit money -->
        <a href="{% url 'deposit' %}"
            class="bg-yellow-800 hover:bg-yellow-900 text-white font-bold py-2 px-4 mt-5 rounded focus:outline-none focus:shadow-outline">Deposit</a>

        <!-- transactions -->
        <a href="{% url 'transactions' %}"
            class="bg-yellow-800 hover:bg-yellow-900 text-white font-bold py-2 px-4 mt-5 rounded focus:outline-none focus:shadow-outline">Transactions</a>
    </div>

    <!-- borrowed books list -->
    <div class="p-14 bg-gray-100 rounded-lg shadow-md w-full mb-8">
        <h1 class="text-3xl font-bold text-center mb-8">Borrowing Histories</h1>
        {% if histories %}
        <div class="overflow-x-auto text-center">
            <table class="table-auto w-full border-collapse">
                <thead>
                    <tr>
                        <th class="px-4 py-2 text-left">Cover</th>
                        <th class="px-4 py-2 text-left">Title</th>
                        <th class="px-4 py-2 text-left">Author</th>
                        <th class="px-4 py-2 text-left">Description</th>
                        <th class="px-4 py-2 text-left">Borrowing Price</th>
                        <th class="px-4 py-2 text-left">Borrow Date & Time</th>
                        <th class="px-4 py-2 text-left">Return Date & Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for history in histories %}
                    <tr>
                        <td class="border px-4 py-2"><img src="{{ history.borrowed_book.cover.url }}"
                                alt="{{ history.borrowed_book.title }}" class="w-32 h-auto"></td>
                        <td class="border px-4 py-2">
                            <a href="{% url 'book_details' history.borrowed_book.id %}"
                                class="text-yellow-800 hover:text-yellow-900 hover:underline">
                                {{ history.borrowed_book.title }}
                            </a>
                        </td>
                        <td class="border px-4 py-2">{{ history.borrowed_book.author }}</td>
                        <td class="border px-4 py-2">{{ history.borrowed_book.description | truncatewords:5 }}</td>
                        <td class="border px-4 py-2">${{ history.borrowed_book.borrowing_price }}</td>
                        <td class="border px-4 py-2">{{history.borrow_timestamp}}</td>
                        <td class="border px-4 py-2">
                            {% if history.return_timestamp %}
                            {{history.return_timestamp}}
                            {% else %}
                            <form method="post" action="{% url 'return_book' history.id %}">
                                {% csrf_token %}
                                <input type="submit" value="Return"
                                    class="bg-red-600 hover:bg-red-700 text-white font-bold py-1 px-2 rounded focus:outline-none focus:shadow-outline cursor-pointer">
                            </form>
                            {% endif %}
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <p class="text-center text-xl">You have not borrowed any books yet.</p>
        {% endif %}
    </div>
</div>
{% endblock %}