asgiref
certifi
crispy-bootstrap5
distlib
dj-database-url
Django==5.0.6
django-crispy-forms
django-environ
django-unique-user-email
EasyProcess
entrypoint2
filelock
MouseInfo
mss
pillow
pipenv
platformdirs
psycopg2
psycopg2-binary
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
pytweening
setuptools
sqlparse
typing_extensions
tzdata
virtualenv