{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="mx-auto py-8">
    <div class="max-w-4xl mx-auto">
        <div class="bg-white p-8 rounded-lg shadow-md">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
                <div>
                    <img src="{{ book.cover.url }}" alt="{{ book.title }}" class="w-full h-auto mb-4">
                </div>
                <div>
                    <h1 class="text-3xl font-bold mb-4">{{ book.title }}</h1>
                    <h2 class="text-xl text-gray-700 mb-4">{{ book.author }}</h2>
                    <p class="mb-4">{{ book.description }}</p>
                    <p class="text-gray-700 mb-4">Borrowing Price: ${{ book.borrowing_price }}</p>
                    <p class="text-gray-700 mb-4">Category:
                        {% for category in book.category.all %}
                        <span class="bg-yellow-300 text-black rounded-lg py-1 px-2">{{ category.name }}</span>
                        {% endfor %}
                    </p>
                    <p class="text-gray-700 mb-4">Available Copies: {{ book.total_copies }}</p>
                    {% if user_account == book.borrowed_by %}
                    <button class="font-bold py-2 px-4 rounded w-full bg-gray-200 cursor-not-allowed" disabled>
                        Already Borrowed
                    </button>
                    {% endif %}
                    {% if user_account != book.borrowed_by %}
                    <form method="post" action="{% url 'borrow_book' book.id %}">
                        {% csrf_token %}
                        <input type="submit" value="Borrow"
                            class="font-bold py-2 px-4 rounded w-full bg-yellow-800 text-white hover:bg-yellow-900 cursor-pointer">
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}