{% extends 'base.html' %}

{% block title %}Transactions{% endblock %}

{% block content %}
<div class="container mx-auto py-8 min-h-screen">
    <h1 class="text-3xl font-bold mb-4">Transactions</h1>
    <h4 class="text-xl mb-5">Current Balance: <span class="font-bold">${{ user_account.balance }}</span></h4>
    {% if transactions %}
    <div class="overflow-x-auto">
        <table class="min-w-full border-collapse border border-gray-300 text-center">
            <thead class="bg-gray-100">
                <tr>
                    <th class="border border-gray-300 px-4 py-2">Date & Time</th>
                    <th class="border border-gray-300 px-4 py-2">Transaction Type</th>
                    <th class="border border-gray-300 px-4 py-2">Amount</th>
                    <th class="border border-gray-300 px-4 py-2">Balance After Transaction</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td class="border border-gray-300 px-4 py-2">{{ transaction.timestamp }}</td>
                    <td class="border border-gray-300 px-4 py-2">
                        {% if transaction.transaction_type == 'Deposit' %}
                        <span class="bg-green-600 font-bold text-white px-2 py-1">Deposit</span>
                        {% elif transaction.transaction_type == 'Return' %}
                        <span class="bg-blue-600 font-bold text-white px-2 py-1">Return</span>
                        {% else %}
                        <span class="bg-red-600 font-bold text-white px-2 py-1">Borrow</span>
                        {% endif %}
                    </td>
                    <td class="border border-gray-300 px-4 py-2">${{ transaction.amount }}</td>
                    <td class="border border-gray-300 px-4 py-2">${{ transaction.balance_after_transaction }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p class="text-center font-bold">No transactions yet.</p>
    {% endif %}
</div>
{% endblock %}