<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="django bank" />
        <title>{% block title %} {% endblock %}</title>
        <!-- Tailwind CSS -->
        <link
            rel="stylesheet"
            href="https://unpkg.com/tailwindcss@2.0.1/dist/tailwind.min.css"
        />
    </head>

    <body>
        <!-- Navbar -->
        {% include 'navbar.html' %}

        <!-- Showing Messages -->
        <div class="w-1/2 m-auto">
            {% include 'messages.html' %}
        </div>

        <!-- Content -->
        {% block content %} {% endblock %}

        <!-- Footer -->
        <!-- will be added later -->
    </body>
</html>
