<footer class="bg-yellow-100 text-white py-6">
    <div class="container mx-auto flex flex-col md:flex-row justify-between items-center px-4 text-yellow-800">
        <div class="md:w-1/2 max-sm:text-center">
            <p class="text-lg">&copy; 2024 RetroBookStore</p>
            <p class="text-sm">All rights reserved.</p>
        </div>
        <div class="flex items-center mt-4 md:mt-0">
            <a href="#" class="mr-4 hover:text-yellow-900 hover:underline">Privacy Policy</a>
            <a href="#" class="mr-4 hover:text-yellow-900 hover:underline">Terms of Service</a>
            <a target="_blank" href="https://github.com/junaaid96"
                class="hover:text-yellow-900 hover:underline">Contact</a>
        </div>
    </div>
</footer>